@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

:root {
    --p-color : #848585;
    --input-background : #f7f7f7;
    --placeholder-color : #c7c7c7;
}

body {
    margin: 0;
    font-family: 'Archivo' , sans-serif;
}

a {
    text-decoration: none;
    color: var(--p-color);
}

p {
    color: var(--p-color);
}

.container {
    margin: 0 10%;
}

.nav__container {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.nav__nav-links {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.nav__userdisplay {
    display: flex;
    gap: 30px;
}

.nav__menu {
    display: none;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form div {
    min-width: 350px;
    width: 100%;    
}

input[type="text"] , textarea{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--input-background);
    padding: 15px;
}

textarea {
    min-height: 60px;
    resize: none;
    overflow: auto;
}

input[type="submit"] {
    width: 110%;
}

.main__btn_button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: flex-start;
    min-height: 100px;
    align-items: center;
}

@media (max-width: 768px) {

    .nav__mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav__menu {
        display: block;
    }

    .nav__container {
        flex-direction: column;
    }

    .nav__nav-links {
        display: none;
        flex-direction: column;
        gap: 20px;
    }

    .nav__userdisplay {
        margin-left: 0;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

@media (max-width: 430px) {
    form {
        min-width: 0;
    }

    form div {
        min-width: 0;
    }

    .main__container {
        align-items: flex-start;
    }
}

